# Sistema operativo
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/
*.swp
*.swo

# Dependencias
node_modules/
.astro/
dist/

# Variablesn
.env
.env.local
.env.production

# Logs de errores
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Carpetas de adaptadores
.vercel/
.netlify/